:root{
    --bg: #03001C;
    --sec: #301E67;
    --thd: #5B8FB9;
    --txt: #B6EADA;
    --border: rgb(3, 169, 244);
  
  --g1: #F6F7D7;
  --g2: #FF9A00;
  --g3: #FF165D;
}
body {
    color: var(--bg);
    background: var(--thd);
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: var(--sec);
    padding: 30px;
    text-align: right;
}
.links{
    margin-right: 2%;
}
nav a {
    font-size: 24px;
    color: var(--txt);
    text-decoration: none;
    margin: 10px;
    margin-left: 3%;
    padding: 10px 20px;
    font-weight: bold;
    transition: all ease 0.5s;
}
a:hover {
    border-radius: 5px;
    background-color: var(--thd);
    color: var(--bg);
}
main {
    margin: 40px;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.name{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#main-img{
    margin-left: 10vmin;
    width: auto;
    height: 70vmin;
}
h1 {
    margin-bottom: 2%;
    font-size: 50px;
}
h2{
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.skills{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-img{
    margin-right: 30vmin;
    width: auto;
    height: 50vmin;
}
p {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 4%;
}

/* box animation */
.card {
    aspect-ratio: 1 / 1.6;
    border: 0.5vmin solid var(--bg);
    border-radius: 20px;
    position: relative;
    width: 90vmin;
    height: 85vmin;
  }
  
  .card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
  }
  
  .card:hover > .card-content {
    background-position: -10% 0%;
  }
  
  .card:hover > .card-icon {
    color: white; 
  }
  
  .card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
  }
  .card:before {
    background: linear-gradient(
      130deg, 
      transparent 0% 33%, 
      var(--g1) 66%, 
      var(--g2) 83.5%, 
      var(--g3) 100%
    );
    border-radius: 20px;
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
  }
  .card-content {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 8%, 
      transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100% - 10vmin);
    z-index: 2;
  }
  .card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
  }
/* end */

#title{
    font-size: 45px;
}
li{
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}
footer {
    background-color: #1C315E;
    color: #E6E2C3;
    padding: 10px;
    text-align: center;
}